<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id='main' role='main'>
      
    </div>

    <div class='full' style='background: #333'>
      <div class='row'>
        <div class='large-12 columns'>
          <h2 style='color: #fff;'>{{ page.title }}</h2>
        </div>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='two spacing'></div>
    <div class='full'>
      <div class='spacing'></div>
      <div class='row'>
        <div class='large-8 columns'>
          {{ content }}
        </div>
      </div>
      <div class='four spacing'></div>
    </div>

    {% include footer.html %}

  </body>

</html>
